<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.scm.dao.ReturnDirDao">
	<select id="returnDirList" resultType="kr.happyjob.study.scm.model.ReturnDirVO">
						     
		SELECT	(CASE
			WHEN RI.JORD_CODE = JI.JORD_CODE 
			THEN JI.JORD_DATE
			WHEN RI.BORD_CODE = BI.BORD_CODE 
			THEN DI.DIR_DATE 
		END) AS 'jordDate',
		(CASE
			WHEN JI.JORD_CODE IS NOT NULL
			THEN JUI.company 
			WHEN BI.BORD_CODE IS NOT NULL
			THEN PUI.company
		END) AS 'company',
		PD.PD_NAME AS pdName,
		RI.RE_AMT AS reAmt,
		PD.PD_PRICE * RI.RE_AMT as returnPrice,
		DC.detail_name AS reType
FROM	RETURN_INFO RI INNER JOIN DIRECTION DI ON RI.DIR_CODE = DI.DIR_CODE 
					   LEFT JOIN SHIP_INFO SI ON RI.RE_CODE = SI.RE_CODE 
					   LEFT JOIN JORDER_INFO JI ON SI.JORD_CODE = JI.JORD_CODE
					   LEFT JOIN BORDER_INFO BI ON RI.BORD_CODE = BI.BORD_CODE 
					   INNER JOIN PD_INFO PD ON RI.MODEL_CODE = PD.MODEL_CODE 
					   INNER JOIN WHOUSE_INFO WI ON RI.WH_CODE = WI.WH_CODE 	  
					   LEFT JOIN tb_userinfo PUI ON PD.loginID = PUI.loginID
					   LEFT JOIN tb_userinfo JUI ON JI.loginID = JUI.loginID
					   INNER JOIN tb_detail_code DC ON DC.group_code = 'approvalCD' AND RI.RE_TYPE = DC.detail_code
			<where>
				<if test = "(cpname != null) and (!cpname.equals(''))">
				and JUI.company like concat('%',#{cpname},'%')
				</if>
				<if test = "(sdate != null) and (!sdate.equals(''))">
				and ((<![CDATA[DI.DIR_DATE  >= #{sdate}]]> and RI.JORD_CODE IS NULL)
				or  (<![CDATA[JI.JORD_DATE  >= #{sdate}]]> and RI.BORD_CODE IS NULL))
				</if>
				<if test = "(edate != null) and (!edate.equals(''))">
				and ((<![CDATA[DI.DIR_DATE  <= #{edate}]]> and RI.JORD_CODE IS NULL)
				or  (<![CDATA[JI.JORD_DATE  <= #{edate}]]> and RI.BORD_CODE IS NULL))
				</if>
			</where>
			order by DI.DIR_DATE desc
			 LIMIT #{pageIndex},#{pageSize}
	</select>

	<select id="returnDirTotalCnt" resultType="int">
						     
			SELECT	 count(*)
FROM	RETURN_INFO RI INNER JOIN DIRECTION DI ON RI.DIR_CODE = DI.DIR_CODE 
					   LEFT JOIN SHIP_INFO SI ON RI.RE_CODE = SI.RE_CODE 
					   LEFT JOIN JORDER_INFO JI ON SI.JORD_CODE = JI.JORD_CODE
					   LEFT JOIN BORDER_INFO BI ON RI.BORD_CODE = BI.BORD_CODE 
					   INNER JOIN PD_INFO PD ON RI.MODEL_CODE = PD.MODEL_CODE 
					   INNER JOIN WHOUSE_INFO WI ON RI.WH_CODE = WI.WH_CODE 	  
					   LEFT JOIN tb_userinfo PUI ON PD.loginID = PUI.loginID
					   LEFT JOIN tb_userinfo JUI ON JI.loginID = JUI.loginID
					   INNER JOIN tb_detail_code DC ON DC.group_code = 'approvalCD' AND RI.RE_TYPE = DC.detail_code
			<where>
				<if test = "(cpname != null) and (!cpname.equals(''))">
				and JUI.company like concat('%',#{cpname},'%')
				</if>
				<if test = "(sdate != null) and (!sdate.equals(''))">
				and ((<![CDATA[DI.DIR_DATE  >= #{sdate}]]> and RI.JORD_CODE IS NULL)
				or  (<![CDATA[JI.JORD_DATE  >= #{sdate}]]> and RI.BORD_CODE IS NULL))
				</if>
				<if test = "(edate != null) and (!edate.equals(''))">
				and ((<![CDATA[DI.DIR_DATE  <= #{edate}]]> and RI.JORD_CODE IS NULL)
				or  (<![CDATA[JI.JORD_DATE  <= #{edate}]]> and RI.BORD_CODE IS NULL))
				</if>
			</where>
			order by DI.DIR_DATE desc
	</select>


</mapper>